<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <title>5 Dev's</title>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="mainPrincipal">
        <section class="containerPrincipal">
            <div class="segundoBloco">
                <div class="formularioB">
                    <h2>EDITAR PRODUTO</h2>
                    <label>NOME</label>
                    <input type="text" value="" placeholder="Seu nome aqui">
                    <label>DESCRIÇÃO DO PRODUTO</label>
                    <input type="text" value="">
                    <label>IMAGEM DO PRODUTO</label>
                    <input type="text" value="">
                    <label>ATIVADO/DESATIVADO</label>
                    <select id="inputStatus" class="form-control custom-select">
                        <option selected disabled>Selecione uma opção</option>
                        <option>Ativado</option>
                        <option>Desativado</option>
                      </select>
                    <label> PREÇO DO PRODUTO </label>
                    <input type="number" value="" placeholder="Insira o seu CEP">
                    <a href="#" class="button_save"> SALVAR </a>
                 </div>










        </section>
    </main>
</body>
</html>