<footer class="rodape">

    <div class="boxFooter1">
        <h3 class="paragrafoFooter1">Departamentos</h3>
        <div class="categorias">
            <ul class="listafooter">
                <a href="">
                    <li> Hardware </li>
                </a>
                <a href="">
                    <li> Smartphone </li>
                </a>
                <a href="">
                    <li> Periféricos </li>
                </a>
                <a href="">
                    <li> Teclado e Mouse </li>
                </a>
                <a href="">
                    <li> Computadores </li>
                </a>
                <a href="">
                    <li> Placa de Vídeo </li>
                </a>
                <a href="">
                    <li> Monitores </li>
                </a>
                <a href="">
                    <li> Consoles e Games </li>
                </a>
                <a href="">
                    <li> Notebook </li>
                </a>
                <a href="">
                    <li> Processadores </li>
                </a>
            </ul>
        </div>
    </div>

    <div class="boxFooter2">
        <h3 class="paragrafoFooter2">Novidades e Promoções</h3>
        <div class="categorias">
            <ul class="listafooter">
                <a href="">
                    <li> Seja Prime </li>
                </a>
                <a href="">
                    <li> Black Friday </li>
                </a>
                <a href="">
                    <li> Mega Maio </li>
                </a>
                <a href="">
                    <li> Julho Gamer </li>
                </a>
                <a href="">
                    <li> PIX </li>
                </a>
                <a href="">
                    <li> Cartão 5 Dev's </li>
                </a>
            </ul>
            <h3 class="paragrafoFooter2">Baixe os aplicativos</h3>
            <div class="appfooter">
                <li><a href=""><img src="/img/appstore-footer.png" alt=""></a></li>
            </div>
            <div class="appfooter">
                <li><a href=""><img src="/img/googleplay-footer.png" alt=""></a></li>
            </div>

        </div>
    </div>

    <div class="boxFooter3">
        <h3 class="paragrafoFooter3">Institucional</h3>
        <div class="categorias">
            <ul class="listafooter">
                <a href="">
                    <li> Sobre a 5 Dev's </li>
                </a>
                <a href="">
                    <li> Politicas do Site e Marketplace </li>
                </a>
                <a href="">
                    <li> Politicas de Privacidade </li>
                </a>
                <a href="">
                    <li> Prêmios </li>
                </a>
                <a href="">
                    <li> Trabalhe Conosco </li>
                </a>
                <a href="">
                    <li> Código de Defesa do Consumidor </li>
                </a>
                <a href="">
                    <li> Preferência de Cookies </li>
                </a>
            </ul>
        </div>
    </div>
    <div class="boxFooter4">
        <h3 class="paragrafoFooter4">Minha Conta</h3>
        <div class="categorias">
            <ul class="listafooter">
                <a href="">
                    <li> Meus Pedidos </li>
                </a>
                <a href="">
                    <li> Cadastrar ou Remover Newslatter </li>
                </a>
                <br>
                <h3 class="paragrafoFooter4">Mídias Sociais</h3>
                <div class="redesociaisfooter">
                    <li><a href=""><img src="/img/facbook-footer.png" alt=""></a></li>
                    <li><a href=""><img src="/img/whatsapp-footer.png" alt=""></a></li>
                    <li><a href=""><img src="/img/youtube-footer.png" alt=""></a></li>
                </div>
                <div class="redesociaisfooter">
                    <li><a href=""><img src="/img/telegram-footer.png" alt=""></a></li>
                    <li><a href=""><img src="/img/instagram-footer.png" alt=""></a></li>
                    <li><a href=""><img src="/img/tictoc-footer.png" alt=""></a></li>
                </div>



            </ul>
        </div>
    </div>
    <div class="boxFooter5">
        <h3 class="paragrafoFooter5">Atendimento</h3>
        <div class="categorias">
            <ul class="listafooter5">
                <h3> Hórario de Atendimento: 10:00 ás 18:00 -
                    Segunda á Sexta,
                    horário de Brasilia
                    (exceto domingos e feriados, em Belo Horizonte, MG)
                    Endereço: Rua Apuiares, 178- Térreo - Xangrilá Belo Horizonte/MG CEP:32186-340
                    Central - SAC: (99) 99999-9999
                    E-mail:faleconosco5devs.com.br </h3>
            </ul>
        </div>
    </div>



</footer>