<header class="header">
    <nav>
        <a href="/home"><img src="/img/Logo 5 Dev's.png" alt="" class="logo"></a>

        <div class="search-box">
            <input type="text" class="search-txt" placeholder="Pesquisar">
            <a href="a" class="search-btn"> <img src="/img/loupe.png" alt="Lupa"></a>
        </div>

        <div class="cadastro">
             <img src="/img/login.png" alt="" class="cadastro">
            <div class="cadastrop">
                <p><a class= "link-header" href="/home/login">Faça login ou</p></a>
                <p><a class= "link-header" href="/home/register">Cadastra-se</p></a>
            </div>

        </div>


        <img src="/img/chamada-telefonica 1.png" alt="telefone" class="saq">
        <img src="/img/coracao.png" alt="coração" class="favoritos">
        <img src="/img/carrinho.png" alt="carrinho" class="carrinho">

    </nav>
    <div class="topicos">
        <p><a href="/departamentos.html">Todos os Departamentos</a></p>
        <p><a href="/lancamentos.html">Lançamentos</a></p>
        <p><a href="/eletronicos.html">Eletrônicos</a></p>
        <p><a href="/cartao5Devs">Cartão 5 Dev's</a></p>
        <p><a href="/app.html">Baixe o App</a></p>
        <p><a href="/home/contact">Fale conosco</a></p>
    </div>


</header>