<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login - 5 Dev's</title>
</head>

<body>

    <%- include ('../partials/header') %>

        <section class="geral">

            <div class="primeiroBloco">

                <div class="formulario">



                    <form class="formForm" action="/home/login" method="POST">

                        <div class="formularioB">
                            <h2>FAÇA SEU LOGIN </h2>
                            <% if(typeof error !=="undefined" ) { %>
                                <h3 class="error">
                                    <%= error %>
                                </h3>
                                <% } %>
                                    <label>E-MAIL</label>
                                    <input type="email" name="email" placeholder="antonio.jose@exemplo.com" />
                                    <label>SENHA</label>
                                    <input type="password" name="password" placeholder="Senha" />
                                    <button type="submit" class="button_cadastro"> LOGIN </button>
                                    <a href="/home"></a>
                        </div>
                    </form>

                </div>
            </div>


        </section>


        </div>

        <%- include ('../partials/footer') %>

</body>

</html>