<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login - 5 Dev's</title>
</head>

<body>
    
    <%- include ('../partials/header') %>

        <section class="geral">

        <div class="primeiroBloco">

            <div class="formulario">
                <h2>FAÇA SEU LOGIN </h2>


                <form action="email" method="POST">
                    <label for="nome">E-MAIL </label>
                    <input type="text" name="nome" id="nome" placeholder="Digite o seu e-mail *">
                    <label for="email"> SENHA </label>
                    <input type="password" name="email" id="email" placeholder=" Senha *">
                    <a href="#" class="button_login"> ENTRAR</a>
                    
            </div>
        </div>

        
    </section>
    <div class="recebaEmail">
        <div class="recebatext">
            <h3>5 Dev's News</h3>
            <h4>Receba ofertas exclusivas no seu e-mail</h4>
        </div>

        <form class="grupoInputs">
            <div class="mb-3">

                <label for="nome" class="form-label"></label>
                <input type="text" name="nome" id="nome" class="form-control" placeholder="Qual é o seu nome?">
            </div>
        </form>
        <form class="grupoInputs">
            <div class="mb-3">
                <label for="email" class="form-label"></label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Seu E-mail?">
            </div>
        </form>

        <button class="botaoCadastrar">CADASTRAR</button>


    </div>

    <%- include ('../partials/footer') %>

</body>

</html>