<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/glider.css">
    <title>5 Dev's</title>
</head>

<body>

    <%- include ('../partials/header') %>
    

        <section class="geral">

        <div class="segundoBloco">
            <form class="formForm" action="/home/register"  method="POST">
                 
            <div class="formularioB">
                <h2>QUERO ME CADASTRAR</h2>
                <% if(typeof error !== "undefined") { %>
                    <h3 class="error"><%= error %></h3>
        <% } %>
                <label>NOME</label> 
                <input type="text" name="name" placeholder="Digite seu nome completo"/>
                <label>E-MAIL</label>
                <input type="email" name="email" placeholder="antonio.jose@exemplo.com"/>
                <label>CRIE SUA SENHA</label>
                <input type="password" name="password" placeholder="Senha"/>
                <button type="submit" class="button_cadastro"> CADASTRAR </button>
                <a href="/home/login"></a>     
            </div>
        </form>

        </div>
    </section>

    </div>

    <%- include ('../partials/footer') %>

</body>

</html>